<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="productSQL">
  <resultMap id="map" type="product">
  		<result column="nowprice" property="nowprice" jdbcType="NVARCHAR" javaType="String"/>
 	 	<result column="category_1" property="category_1" jdbcType="NVARCHAR" javaType="String"/>
  		<result column="category_2" property="category_2" jdbcType="NVARCHAR" javaType="String"/>
  		<result column="count" property="count" jdbcType="NVARCHAR" javaType="String"/>
  		<result column="bidcount" property="bidcount" jdbcType="NVARCHAR" javaType="String"/>
  		<result column="prdstatus" property="prdstatus" jdbcType="NVARCHAR" javaType="String"/>
	</resultMap>
  
  <insert id="productWrite" parameterType="product">
		INSERT INTO producttable(subject, 
								 category_1, 
								 category_2,
								 content, 
								 hopeprice, 
								 startprice, 
								 nowprice,
								 unitprice, 
								 trade_way,
								 id, 
								 product_seq, 
								 img1, 
								 img2, 
								 img3, 
								 img4, 
								 logdate, 
								 hit,
								 enddate, 
								 prdstatus)
		VALUES (#{subject}
				,#{category_1}
				,#{category_2}
				,#{content}
				,#{hopeprice}
				,#{startprice}
				,#{startprice}
				,#{unitprice}
				,#{trade_way}
				,#{id}
				,product_seq.nextval
				,#{img1}
				,#{img2}
				,#{img3}
				,#{img4}
				,sysdate
				,0
				,#{endDate}
				,'진행중')
	</insert>
	
	<select id="getList" resultType="product">
		SELECT * FROM producttable ORDER by product_seq DESC
	</select>
	<select id="getPopularList" resultType="product">
		SELECT * FROM producttable ORDER by hit DESC
	</select>
	<select id="getView" parameterType="map" resultType="product">
		select * from producttable where product_seq=#{product_seq}
	</select>
	<select id="getProductSort" parameterType="map" resultType="product">
		SELECT * FROM producttable where subject like '%' 
			<if test="category_1 !='' and category_1 > 0">
			 	and category_1 = #{category_1}
				<if test="category_2 !=''">
					and category_2 = #{category_2}
				</if>
			</if>
			<if test="searchWord !=null">
				and subject like '%'||#{searchWord}||'%'
			</if>
		ORDER by ${sort}
	</select>
	
	
	
	<update id="updateHit" parameterType="map">
		update  producttable set hit = hit+1 where product_seq = #{product_seq}
	</update>
	<insert id="commentSet" parameterType="map">
		insert  into prdcomment(comment_id,comment_content,product_seq,logtime,comment_seq)
			values(#{comment_id},#{comment_content},#{product_seq},(SYSDATE+(INTERVAL '9'HOUR)),comment_seq.nextval)
	</insert>
	<select id="getComment" parameterType="map" resultType="comment">
		select * from prdcomment where product_seq = #{product_seq} order by logtime desc
	</select>
	<!-- 시간 지나면 낙찰 -->
	<update id="setPrdStatus">
		       update  producttable  
           		 set prdstatus =  case
                     WHEN  get_id is not null THEN '낙찰' 
                     WHEN get_id is null THEN'유찰'
                     end
                    where   enddate  <![CDATA[<= ]]> to_char((SYSDATE+(INTERVAL '9'HOUR)),('YYYY-MM-DD HH24:MI'))
	</update>
	<!-- 낙찰 된 물품 찾아서 메세지 보내기 -->	
	 <select id="gomsg" resultType="product">
		select
        p.product_seq,p.subject,p.get_id 
        from producttable p 
        where p.prdstatus = '낙찰' and 
        not exists(select msgseq from soket where msgseq=p.product_seq)
	</select> 
	<!-- 실시간 알림 -->
	<insert id="saveNotify" parameterType="soket">
		INSERT INTO soket VALUES (#{target},#{content},#{type},#{url},#{msgseq},0)
	</insert>
	<select id="getMessageList" parameterType="String" resultType="soket">
		select * from soket where target = #{id}
	</select>
	
	<select id="getHighList" resultType="product">
		SELECT * FROM (SELECT product_seq,img1,nowprice,hopeprice,prdstatus FROM producttable order by hit desc) WHERE ROWNUM <![CDATA[<]]>= 10
	</select>
	<delete id="deletePrd" parameterType="map">
		delete producttable where product_seq = #{product_seq}
	</delete>
	<delete id="deletePrdCmt" parameterType="map">
		delete prdcomment where product_seq = #{product_seq}
	</delete>
	<delete id="deletePrdBid" parameterType="map">
		delete bid where product_seq = #{product_seq}
	</delete>
	<select id="getAllProduct" resultMap="map"></select>
  </mapper>