<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="bidSQL">
	<insert id="setBid" parameterType="bid">
		insert into bid(id,product_seq,bidprice,subject) values(#{id},#{product_seq},#{bidprice},#{subject})
	</insert>
	<!-- <update id="updateBid" parameterType="map">
		update bid set bid_price = #{bid_price} where id = #{id}, product_seq =#{product_seq}
	</update>
	<select id="myBid" resultType="bid" parameterType="String">
		select * from bid where where id = #{id}
	</select> -->
  </mapper>