@charset "UTF-8";
*{
	box-sizing: border-box;
}
body{
	
}
a{
	color: inherit;
	text-decoration: none;
}
button, a{
	cursor: pointer;
}

ul, ol, dl{
	width: 100%;
	height: auto;
	list-style: none;
	margin: 0;
	padding: 0;
	cursor: default;
	position: relative;
}
ul:after, ol:after, dl:after{
	content: '';
	display: table;
	clear: both;
}
ul{
	display: block;
}
hr{
	margin: auto;
}

#header{
	width: 100%;
	height: 60px;
	background-color: #0C1B21;
	font-family: 'Nanum Gothic', 'NotoSansKR';
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3000;
	padding: 6px;
	padding-left: 6px;
	line-height: 44px;
	font-size: 0;
	
}
#header .bi-list{
	font-size : 2.5rem;
	background: transparent;
	border: none;
	outline: none;
	position: absolute;
	z-index : 3001;
	top: 6px;
	left: 4px;
	cursor: pointer;
	color: white;
}
#header .bi-x-lg{
	font-size : 2rem;
	background: transparent;
	border: none;
	outline: none;
	position: absolute;
	z-index : 3001;
	top: 5px;
	left: 5px;
	cursor: pointer;
	color: white;
}
#header #logo{
	width: 44px;
	height: 44px;
	background: transparent;
	border: none;
	outline: none;
	position: absolute;
	z-index : 3001;
	top: 6px;
	left: 60px;
	cursor: pointer;
}
#header h1{
	left: 170px;
	top : 22px;
	display: inline-block;
	line-height: 110%;
	font-size: 13px;
	font-weight: 500;
	color: #fff;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	z-index: 3001;
	position: absolute;
}
#header #clock{
	left: 320px;
	top : 25px;
	display: inline-block;
	line-height: 110%;
	font-size: 10px;
	font-weight: 100;
	color: #848788;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	z-index: 3001;
	position: absolute;
}
#header #headerRight_login{
	right: 50px;
	top : 15px;
	display: inline-block;
	line-height: 110%;
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	z-index: 3001;
	position: absolute;
}
#header #headerRight_logout{
	right: 50px;
	top : 17px;
	display: inline-block;
	line-height: 110%;
	font-size: 12px;
	font-weight: 700;
	color: #fff;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	z-index: 3001;
	position: absolute;
}
.toast-body{
	color: black;
}