<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="productSQL">
  <insert id="productWrite" parameterType="product">
		INSERT INTO product(subject, category, content, hopeprice, startprice, unitprice, trade_way, enddays_year, enddays_month, enddays_day, enddays_hour, enddays_min, id, product_seq) 
		VALUES (#{subject},#{category},#{content},#{hopeprice},#{startprice},#{unitprice},#{trade_way},#{enddays_year},#{enddays_month},#{enddays_day},#{enddays_hour},#{enddays_min},#{id},product_seq.nextval)
	</insert>
	<select id="getList" resultType="product">
		SELECT * FROM product ORDER by product_seq DESC
	</select>
  </mapper>